.header {
  height: 6em;
  width: 95%;
  margin: 2em auto 0 auto;
  justify-content: space-between;
  background-color: var(--clr-bg);
  padding: 0 1em;
}

.header .link--icon {
  margin-left: 0.8em;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
